html,
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;

    background-color:#f2f2f2;
}

.inner-page{
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 0 0 20px #cccccc;
    background-color:#ffffff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden { 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
    position: absolute; 
    overflow: hidden; 
  }

.main-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-header-logo{
    width: 140px;
    height: 71px;

    display: block;
    position: absolute;
}

.site-navigation{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation li{
    width: 240px;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
}

.site-navigation li:nth-child(2){
    margin-right: 100px;
}

.site-navigation li:nth-child(3){
    margin-left: 100px;
}

.site-navigation a{   
    text-decoration: none;
    color: #000000;
}

a {
    text-decoration: none;
}

.site-navigation .info a{
    color: #766357;
}

.site-navigation .hotels a{
    color: #766357;
}

  .site-navigation a:hover{
    color: #81B3D2;
  }

  .site-navigation a:active{
    color: #cacaca;
  }

.welcome{
    width: auto;
    height: 725px;

    display: flex;
    flex-direction: column;

    background-image: url(../img/intro-welcome.svg), url(../img/intro-mask.svg), url(../img/main-background-photo.jpg);
    background-repeat: no-repeat;
    background-position: 50% 10%, 50% 69%, 50% 0%;
    background-size: 470px 350px, 1200px 61px, 1200px 515px;
    background-color: #ffffff;
}

.welcome h1{
    width: 500px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-self: center;

    padding-top: 560px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.welcome p{
    width: 600px;
    height: 30px;

    display: flex;
    flex-direction: column;
    align-self: center;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.realcity-list{
    list-style: none;
}

.hotels-list{
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.hotel-image{
    width: 135px;
    height: 90px;

    align-self: center;
    margin-right: 30px;
}

.hotel-name{
    width: 1200px;
    min-height: 152px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-top: 1px solid#E5E5E5;
    border-bottom: 1px solid#E5E5E5;
}

.hotel-info{
    margin-top: 25px;
}

.hotel-name h3{
    width: 217px;
    height: 25px;

    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.hotel-name h3:hover{
    color: #81b3d2;
}

.hotel-name h3:active{
    color: #BDBBBC;
}

.hotel-info p{
    width: 110px;
    height: 19px;

    display: inline-flex;
    
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.hotel-info a{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more-detail{
    width: 109px;
    height: 25px;

    display: flex;
    flex-direction: row;
    align-self: center;

    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81B3D2;
}

.more-info:hover{
    background-color: #669EC0;
}

.more-info:active{
    background-color: #5496BD;
    color: #94B9D2;
}

.about-hotel{
    width: 600px;
    margin-left: 72px;

    display: flex;
    flex-direction: row;
}

.quality{
    width: 600px;
    margin-right: 72px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.submit{
    width: 143px;
    height: 25px;

    display: flex;
    flex-direction: row;
    align-self: center;

    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #766357;
}

.submit:hover{
    background-color: #604E43;
}

.submit:active{
    background-color: #503E33;
    color: #857171;
}

.submit:focus{
    outline: none;
}

.stars5{
    width: 91px;
    height: 23px;

    display: block;
    
    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}

.stars3{
    width: 55px;
    height: 23px;

    display: block;

    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}

.stars2{
    width: 37px;
    height: 23px;

    display: block;

    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}

.quality p{
    width: 112px;
    padding: 5px;

    display: block;
    text-align: center;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    text-transform: uppercase;

    background-color: #F2F2F2;
}

.sorting-hotels{
    width: 1200px;
    margin-left: 72px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sorting-hotels h2{
    margin-right: 20px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.sorting{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.sorting-by-price{
    padding: 10px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #81B3D2;
    text-transform: uppercase;
}

.sorting-by-type{
    padding: 10px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: 	#CACACA;
    text-transform: uppercase;
    text-decoration: underline #81B3D2; /*должна быть другая рееализация*/
}

.sorting-hotels p:hover{
    color: 	#CACACA;
    text-transform: uppercase;
    text-decoration: underline #81B3D2;/*должна быть другая рееализация*/
}

.sorting-hotels p:active{
    color: #000000;
    text-decoration: none;
}

.sorting-by-rating{
    padding: 10px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: 	#CACACA;
    text-transform: uppercase;
    text-decoration: underline #81B3D2;
}

.city{
    margin: 0px;
    padding: 0px;
    max-height: 260px;

    display: flex;
    flex-direction: row;

    background-image: url(../img/real_city.jpg);
    background-size: 800px 260px;
    background-position: right;
    background-repeat: no-repeat;
}

.realcity-info{
    width: 400px;
    min-height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #81b3d2;
}

.realcity-info h2{
    width: 130px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.realcity-info p{
    width: 280px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.realcity-list{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
}

.realcity-list h3{
    width: 120px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.realcity-list p{
    width: 300px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.realcity-item1{
    width: 400px;
    min-height: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.realcity-item1::before{
    content: url(../img/icon-1.svg);
}

.realcity-item2{
    width: 400px;
    min-height: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.realcity-item2::before{
    content: url(../img/icon-2.svg);
}

.realcity-item3{
    width: 400px;
    min-height: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.realcity-item3::before{
    content: url(../img/icon-3.svg);
}

.bridge{
    margin: 0px;
    padding: 0px;
    max-height: 260px;

    display: flex;
    flex-direction: row-reverse;

    background-image: url(../img/bridge.jpg);
    background-size: 800px 260px;
    background-position: left;
    background-repeat: no-repeat;
}

.bridge-info{
    width: 400px;
    min-height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #81b3d2;
}

.bridge-info h2{
    width: 180px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.bridge-info p{
    width: 310px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.advantage{
    margin: 0;
    
    display: flex;
    flex-direction: row;

    background-color: #f2f2f2;
}

.advantage h2{
    width: 150px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.advantage p{
    width: 270px;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.small-area{
    width: 400px;
    min-height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.road{
    width: 400px;
    min-height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tourists{
    width: 400px;
    min-height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interest{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interest h2{
    margin-top: 50px;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.interest p{
    margin-top: 10px;
    margin-bottom: 50px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.search-hotel{
    min-height: 562px;
    display: flex;
    flex-direction: column;

    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 475px;
    background-position: bottom;
    background-color: #ffffff;
}

.search-hotel-form{
    width: 572px;
    height: 485px;

    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    box-shadow: 0 0 20px #cccccc;
}

.search-hotel-block{
    width: 570px;
    height: 483px;

    display: flex;
    align-self: center;
}

.search{
    margin: 0;
    padding: 30px; 

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #766357;
}

.search:hover{
    background-color: #604E43;
}

.search:active{
    background-color: #503E33;
    color: #857171;
}

.search:focus{
    outline: none;
}

.arrival-date-form{
    padding: 60px;
}

.arrival-date-form p{
    width: 420px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrival-date-form label{
    margin-right: 35px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.date{
    height: 37px;
    width: 270px;
    box-sizing: border-box;
    padding-left: 10px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border-style: none;
}

.date:hover{
    background-color: #ebebeb;
    border-style: none;
}

.date:focus{
    background-color: #ffffff;
    outline: 2px solid #E5E5E5;
}


.calendar{
    height: 27px;
    margin: 0;
    padding: 5px;
    
    display: block;
    position: absolute;

    background-color: #f2f2f2;
    border-style: none;
    fill: #766357;
}

.calendar:hover{
    fill: #000000;
    background-color: #ebebeb;
}

.calendar:active{
    fill: #81B3D2;
}

.arrival-date-item .departure-date-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose-amount{
    width: 460px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.amount{
    width: 35px;
    height: 37px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border-style: none;
}

.amount:focus{
    outline: none;
}

.minus{
    width: 35px;
    height: 37px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #766357;
    border-style: none;
    background-color: #f2f2f2;
}

.minus:hover{
    color: #000000;
}

.minus:active{
    color:  #81B3D2;
}

.minus:focus{
    outline: none;
}

.plus{
    width: 35px;
    height: 37px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #766357;
    border-style: none;
    background-color: #f2f2f2;
}

.plus:hover{
    color: #000000;
}

.plus:active{
    color:  #81B3D2;
}

.plus:focus{
    outline: none;
}

.find{
    width: 470px;
    height: 60px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    background-color: #81B3D2;
    border-style: none;
}

.find:hover{
    background-color: #669EC0;
}

.find:active{
    background-color: #5496BD;
    color: #94B9D2;
}

.main-footer{
    width: 1200px;
    min-height: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.visit{
    width: 400px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;   
}

.footer-social{
    width: 400px;
    height: 120px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-button {
    width: 48px;
    height: 48px;
    margin: 3px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color:#81B3D2;
  }

.social-button:hover{
    background-color: #669EC0;
}

.social-button:hover path{
    fill: #ffffff;
}

.social-button:active{
    background-color: #5496BD;
}

.social-button:active path{
    fill: #88B6D1;
}

.footer-social li{
    list-style: none
}

.social-button1{
    width: 46px; 
    height: 48px;
    margin:0px 5px;
    
    line-height: 3;
    text-align: center;

    background-color: #81b3d2;
}

.social-button1:active{
    background-color: #5596BD;
}

.twitter:active{
    fill: #94B9D2;
    background-color: #5596BD;
}

.social-button2{
    margin:0px 5px;
    background-image: url(../img/fb-icon.svg);
    height: 48px;
    width: 46px;
    background-repeat: no-repeat;
    background-color: #81b3d2;
    background-position: center;
}

.social-button3{
    margin:0px 5px;
    background-image: url(../img/youtube.svg);
    height: 48px;
    width: 46px;
    background-repeat: no-repeat;
    background-color: #81b3d2;
    background-position: center;
}

.social-button1:hover,
.social-button2:hover,
.social-button3:hover{
    background-color: #669EC0;
}

.social-button2:active{
    background-image: url(../img/fb_icon_active.svg);
    background-repeat: no-repeat;
    background-color: #5596BD;
}
.social-button3:active{
    background-image: url(../img/youtube_active.svg);
    background-repeat: no-repeat;
    background-color: #5596BD;
}


.footer-logo{
    width: 400px;
    height: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-logo p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;   
}

.footer-logo a{
    padding-left: 10px;
}

.logo-size{
    height: 45px;
    width: 117px;
}

.logo-color{
    fill: #231F20;
}

.logo-color:hover{
    fill: #81b3d2;
}

.logo-color:active{
    fill: #BDBBBC;
}

.inner-search-hotel{
    width: 1200px;
    min-height: 222px;

    display: flex;
    flex-direction: row;

    background-image: url(../img/inner-background-photo.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 220px;
}

.hotel-selection{
    width: 600px;
    display: flex;
}

.infrastructure{
    width: 300px;
    margin-left: 72px;

    display: flex;
    flex-direction: column;
    justify-content: center
}

.infrastructure-name{
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;   
}

.infrastructure-type{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;   
}

.property-type{
    width: 300px;
    min-height: 220px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.property{
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;   
}

.type{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;   
}

.hotel-price{
    width: 600px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter-range {
    width: 330px;
    margin-top: 30px;

    color: #ffffff;
    text-transform: uppercase;
  }
  
  .filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    height: 36px;
    margin-bottom: 20px;

    position: relative;
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    width: 2px;
    height: 22px;

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }
  
  
.range-controls {
    margin-bottom: 32px;

    position: relative;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    width: 4px;
    height: 4px;

    position: absolute;
    top: -9px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }
  
  .btn-transparent {
    margin: 0 auto;
    padding: 6px 35px;

    display: block;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
  }