body {
    margin: 0;
    padding: 0;
    
    background-color:#f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
}



   .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    
    background-color: #f2f2f2;
  }

.site-navigation{
    list-style: none;
}

.site-navigation a{
    text-decoration: none;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
  }

  .site-navigation a:hover{
    color: #81B3D2;
  }

  .site-navigation a:focus{
    color: #cacaca;
  }

  .site-navigation a:active{
    color: #766357;
}

.realcity-list{
    list-style: none;
  }


button{
    color: #766357;
}

button:hover{
    color: #000000;
}

button:focus{
    color:  #81B3D2;
}


