body {
    margin: 0;
    padding: 0;
    
    background-color:#f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page{
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 0 20px #cccccc;

    background-color:#ffffff;
}

.main-navigation{
    text-align: center;
}

.site-navigation{
    list-style: none;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation a{
    text-decoration: none;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
  }

  .site-navigation a:hover{
    color: #81B3D2;
  }

  .site-navigation a:focus{
    color: #cacaca;
  }

  .site-navigation a:active{
    color: #766357;
}

.realcity-list{
    list-style: none;
  }


.welcome{
    height: 725px;
    color: #000000;
    text-align: center;

    background-image: url(../img/intro-welcome.svg),
     url(../img/main-background-photo.jpg),
     url(../img/intro-mask.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: auto;
}



button{
    color: #766357;
}

button:hover{
    color: #000000;
}

button:focus{
    color:  #81B3D2;
}

.city{
    height: 257px;
    background-image: url(../img/real_city.jpg);
    background-repeat: no-repeat;
    background-position: right;

    background-color: #81b3d2;
}

.city-info{
    width: 403px;
}

.city-info h2{
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.city-info p{
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.realcity-list{
    height: 330px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.realcity-list h3{
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.realcity-item1{
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}

.realcity-item2{
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}

.realcity-item3{
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}

.bridge-image{
    height: 257px;

    background-image: url(../img/bridge.jpg);
    background-repeat: no-repeat;
    background-position: left;

    background-color: #81b3d2;
}

.bridge-info{
    width: 403px;
}

.bridge-info h2{
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.bridge-info p{
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
